<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.impfai.sgrkg"
    android:versionCode="2"
    android:versionName="2.0.0">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34"/>

    <!-- WebView 以 https 虚拟域名装载内置 assets 时需要该权限；
         应用本身不访问任何外部服务器，非本地请求在 MainActivity.serve() 中被 403 拦截。 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <supports-screens
        android:smallScreens="true" android:normalScreens="true"
        android:largeScreens="true" android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:largeHeap="true"
        android:supportsRtl="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density|fontScale|uiMode|navigation|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
